html {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html {
    background-image:url("teamss.jpg");
}
#BBFW {
	height: 67%;
	width: 67.1%;
	margin-left: 226.3px;
	margin-top: -8px;
}
#navbar { /*these are the top boxes*/
	overflow: hidden;
	list-style-type: none;
    margin: -4px 226px 0px 226px;
	padding: 0;
    background-color: #333;
	width: 895.4px;
}
#navbar li { /*these are the texts in the top boxes*/
	float: left;
	font-family: garamond;
	font-size: 23px;
}
li a, .dropbtn { /*these are the texts in the top boxes*/
	display: inline-block ;
    color: white;
    text-align: center;
    padding: 14px 15.7px;
    text-decoration: none;
}

li .dropdown {
	display: inline-block;
}
.dropdown-content1 { /*this is the dropdown box*/
    display: none;
	position: absolute;
	text-align: center;
	width: 244.5px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown-content1 a { /* this is the text inside the dropdown box*/
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	font-size: 20px;
}
.dropdown:hover .dropdown-content1 {
    display: block;
}
.dropdown-content1 a:hover {background-color: red}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}
.dropdown-content2 { /*this is the dropdown box*/
    display: none;
	position: absolute;
	text-align: center;
	margin-left: -39px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown-content2 a { /* this is the text inside the dropdown box*/
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	font-size: 20px;
}
.dropdown:hover .dropdown-content2 {
    display: block;
}
.dropdown-content2 a:hover {background-color: red}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}
.dropdown-content3 { /*this is the dropdown box*/
    display: none;
	position: absolute;
	text-align: center;
	margin-left: -7px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown-content3 a { /* this is the text inside the dropdown box*/
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	font-size: 20px;
}
.dropdown:hover .dropdown-content3 {
    display: block;
}
.dropdown-content3 a:hover {background-color: red}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}
.dropdown-content4 { /*this is the dropdown box*/
    display: none;
	position: absolute;
	text-align: center;
	margin-left: -48px;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown-content4 a { /* this is the text inside the dropdown box*/
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	font-size: 20px;
}
.dropdown:hover .dropdown-content4 {
    display: block;
}
.dropdown-content4 a:hover {background-color: red}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
}
#active {
    background-color: yellow;
}

.transbox {
	margin: 0px 226px 0px 226px;
	background-color: #ffffff;
	opacity: 0.88;
	z-index: -1;
	position: absolute;
	filter: alpha(opacity=60);
	width: 895.5px;
	overflow: hidden;
	height: 6040px;
	margin-bottom: 40px;
}

a {
	text-decoration: none;
}

hr {
	width: 880px;
	border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	color: #ff0000;
}

#introduction h1{
	font-size: 50px;
	font-family: Garamond;
	margin: 12px 0px 6px 156px;
}
#introduction p {
	font-size: 18px;
	font-weight: normal;
	margin: 0px 15px 12px 15px;
	font-family: calibri;
	text-align: justify;
}
#differencessimilarities p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 10px 15px;
	font-family: calibri;
	text-align: justify;
}
#evolvingpoweringup p {
	font-size: 18px;
	font-weight: normal;
	margin: 0px 15px 0px 15px;
	font-family: calibri;
	text-align: justify;
}
#howtocatchpokemon h1 {
	font-size: 35px;
	font-family: Garamond;
	margin: 8px 260px 6px 260px;
}
#howtocatchpokemon p {
	font-size: 18px;
	font-weight: normal;
	margin: 0px 15px 12px 15px;
	font-family: calibri;
	text-align: justify;
}
#howtocatchpokemon2 p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 12px 15px;
	font-family: calibri;
	text-align: justify;
}
#howtocatchpokemon3 p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 12px 15px;
	font-family: calibri;
	text-align: justify;
}
#thetrackingsystem p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 0px 15px;
	font-family: calibri;
	text-align: justify;
}
#itemstheshop h1 {
	font-size: 35px;
	font-family: Garamond;
	margin: 8px 0px 6px 310px;
}
#itemstheshop p{
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 18px 15px;
	font-family: calibri;
	text-align: justify;
}
#itemstheshop li{
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 0px -5px;
	font-family: calibri;
	text-align: justify;
}
#theshop p{
	font-size: 18px;
	font-weight: normal;
	margin: 14px 15px 0px 15px;
	font-family: calibri;
	text-align: justify;
}
#teamsgymsbattling h1 {
	font-size: 35px;
	font-family: Garamond;
	margin: 8px 0px 6px 260px;
}
#teamsgymsbattling p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 0px 15px;
	font-family: calibri;
	text-align: justify;
}
#teams p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 12px 15px;
	font-family: calibri;
	text-align: justify;
}
#gyms p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 0px 15px;
	font-family: calibri;
	text-align: justify;
}
#gyms2 p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 12px 15px;
	font-family: calibri;
	text-align: justify;
}
#battling p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 0px 15px;
	font-family: calibri;
	text-align: justify;
}
#battling2 p {
	font-size: 18px;
	font-weight: normal;
	margin: 10px 15px 0px 15px;
	font-family: calibri;
	text-align: justify;
}
.desc1 {
    padding: 15px;
    text-align: center;
	font-size: 20px;
	padding: 6px;
	margin-top: -5px;
	font-family: Garamond;
}
.peopledropdown {
	float: right;
	margin: 8px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.peopledropdowncontent {
	display: none;
	float: left;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -210px;
	margin-top: -128px;
}
.peopledropdown:hover .peopledropdowncontent {
    display: block;
}
.evolvingdropdown {
	float: right;
	margin: 8px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.evolvingdropdowncontent {
	display: none;
	float: left;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -270px;
	margin-top: -128px;
}
.evolvingdropdown:hover .evolvingdropdowncontent {
    display: block;
}
.pokemonscreendropdown {
	float: right;
	margin: 60px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.pokemonscreendropdowncontent {
	display: none;
	float: left;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -110px;
	margin-top: -260px;
	z-index: 3;
}
.pokemonscreendropdown:hover .pokemonscreendropdowncontent {
    display: block;
}
.pokedexdropdown {
	float: right;
	margin: 15px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
	z-index: 1;
}
.pokedexdropdowncontent {
	display: none;
	float: left;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -110px;
	margin-top: -250px;
}
.pokedexdropdown:hover .pokedexdropdowncontent {
    display: block;
}
.catchingdropdown {
	float: right;
	margin: 12px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.catchingdropdowncontent {
	display: none;
	float: left;
	position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -110px;
	margin-top: -270px;
	z-index: 2;
}
.catchingdropdown:hover .catchingdropdowncontent {
    display: block;
}
.trackingdropdown {
	float: right;
	margin: 12px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.trackingdropdowncontent {
	display: none;
	float: left;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -125px;
	margin-top: -220px;
	z-index: 3;
}
.trackingdropdown:hover .trackingdropdowncontent {
    display: block;
}
.itemsdropdown {
	float: right;
	margin: 14px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.itemsdropdowncontent {
	display: none;
	float: left;
	position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -160px;
	margin-top: -150px;
	z-index: 2;
}
.itemsdropdown:hover .itemsdropdowncontent {
    display: block;
}
.shopdropdown {
	float: right;
	margin: 8px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.shopdropdowncontent {
	display: none;
	float: left;
	position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -235px;
	margin-top: -140px;
	z-index: 2;
}
.shopdropdown:hover .shopdropdowncontent {
    display: block;
}
.leadersdropdown {
	float: right;
	margin: 8px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.leadersdropdowncontent {
	display: none;
	float: left;
	position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -280px;
	margin-top: -130px;
	z-index: 2;
}
.leadersdropdown:hover .leadersdropdowncontent {
    display: block;
}
.gymsdropdown {
	float: right;
	margin: 8px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.gymsdropdowncontent {
	display: none;
	float: left;
	position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -280px;
	margin-top: -150px;
	z-index: 2;
}
.gymsdropdown:hover .gymsdropdowncontent {
    display: block;
}
.battlingdropdown {
	float: right;
	margin: 8px 15px 0px 12px;
	padding: 0;
	position: relative;
	display: inline-block;
}
.battlingdropdowncontent {
	display: none;
	float: left;
	position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-left: -107px;
	margin-top: -170px;
	z-index: 2;
}
.battlingdropdown:hover .battlingdropdowncontent {
    display: block;
}

.copyright {
	font-family: arial;
	font-size: 16px;
	color: yellow;
	text-align: center;
	opacity: 0.8;
	width: 100%;
	margin-top: 6040px;
	position: absolute;
}