body {
	background-color: white;
}
h1{
	text-align:center;
	font-size: 56;
	font-family: Verdana;
}
img {
	height: 300px;
	Width: 1500px;
}
div {
	background-color: blue;
	border: 2px solid black;
	display: inline-block;
	float:left;
	text-align:center;
	width: 266px;
}
div p {
	a href="https://davidina101.github.io/";
	
}
p {
	font-size: 22px;
	font-weight: bold;
	font-family: garamond;
}
	
	
